body {
    /* background-color: rgb(43, 43, 43); */
    background-color: rgb(168, 0, 0);
    /* background-image: linear-gradient(rgb(61, 1, 1), red) color: white; */
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    width: 100%;
    background-color: rgb(49, 49, 49);
    text-align: center;
    margin: 0;
}

div {
    padding-bottom: 5px;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 50px;
    letter-spacing: 4px;
    margin: 10px 0 0 0;
    text-shadow: 4px 4px 5px black;
}

main {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-items: center;
    flex-wrap: wrap;
    text-align: center;
}

img {
    height: 250px;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 0px 0px 10px black;
}

main section {
    width: 100%;
    justify-self: center;
}

.navbar {
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    /* height: 30px; */
    font-size: 20px;
    line-height: .8;
    letter-spacing: .3em;
    text-shadow: 3px 3px 3px rgb(27, 27, 27);
}

.navbar a {
    text-decoration: none;
    color: white;
}

span {
    font-size: 12px;
    letter-spacing: .3em;
    text-shadow: 0 0 0 rgb(27, 27, 27);
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

p span {
    letter-spacing: 0;
    word-spacing: 2px;
}

.banged {
    font-family: 'Bangers', cursive;
    font-size: 22px;
    letter-spacing: 4px;
    margin: 0;
}

@media (max-width: 576px) {
    .navbar span {
        font-size: 12px;
        letter-spacing: 0;
        text-shadow: 0 0 0 rgb(27, 27, 27);
        font-family: 'verdana', sans-serif;
        font-weight: 500;
    }
    section p {
        font-size: 14px;
        font-family: 'verdana', sans-serif;
    }
    #konami {
        font-size: 12px;
        font-family: 'verdana', sans-serif;
    }
}