body {
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* display: flex; */
    overflow: auto;
}

.topsection {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    background-color: red;
    width: 100%;
    margin: 0;
    padding: 0;
}

.topsection img {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    letter-spacing: .3em;
    text-shadow: 5px 3px 5px black;
    height: 30px;
    font-size: 25px;
}

.midleft {
    background-color: rgb(15, 15, 15);
    color: white;
    padding-left: 15px;
    overflow: auto;
    text-align: center;
}

.midright {
    background-color: rgb(189, 189, 189);
}

.midleft p {
    margin: 0;
    padding: 0;
}